.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-btn {
  color: white;
  height: 30vh;
  min-width: 20vw;
  max-width: 90vw;
}

.camera-btn label {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.camera-btn label input {
  display: none;
}

